DB_HOST=db
DB_PORT=3306
DB_NAME=kiedy
DB_USER=kiedy_user
DB_PASS=kiedy_password

MYSQL_ROOT_PASSWORD=mysecretpassword

# Cloudflare Turnstile CAPTCHA Keys
TURNSTILE_SITE_KEY=your_site_key
TURNSTILE_SECRET_KEY=your_secret_key
